html {
    scroll-behavior: smooth;
}

body{
    background-image: url(../Media/bg.png);
    background-size: 100%;
    background-attachment: fixed;
}

#presentacion{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.presentacion2{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: #f88;
}

.yo{
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
}

#presentacion .yo div{
    width: 646px;
}

.col p{
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

.p1{
    font-size: 2em;
}

.perfil{
    width: 300px;
    height: 300px;
    margin: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

.navbar{
    background-color: #050505;
}

.navbar-nav {
    width: 500px;
}

.nav-link{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link:hover{
    color: #D2D2D2;
}

.form-inline{
    width: auto;
    float: inherit;
}
@media (max-width: 768px){
