/*para la pagina*/
html {
    scroll-behavior: smooth;
}

body{
    background-image: url(../Media/bg.png);
    background-size: 100%;
    background-attachment: fixed;
}

h3{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h5{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;  
}

/*el menu*/
.navbar{
    background-color: #050505;
}

.navbar-nav {
    width: 500px;
}

.nav-link{
    font-family: 'Roboto Slab', serif;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link:hover{
    color: #D2D2D2;
}

.form-inline{
    width: auto;
    float: inherit;
}

/*los divisores de la presentacion*/
#presentacion{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

#presentacion2, #tecnologias{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.fila{
    padding: 5%;
}

.fila p{
    size: 4pt;
    font-family: 'Source Code Pro', monospace;
}

.fila .quienSoy h3{
    text-align: start;
    font-family: 'Roboto Slab', serif;
}

.fila .queEcho h3{
    text-align: end;
    font-family: 'Roboto Slab', serif;
}

.quienSoy{
    width: 70%;
}

.queEcho{
    width: 70%;
}

.queEcho p{
    margin-right: 0%;
    text-align: right;
}

.fila .titu{
    font-size: 1em;
}

.logo{
    width: auto;
}

.logo img{
    margin: 10px;
    widows: 30px;
}

/*la presentacion principal*/
.yo{
    margin-top: 5%;
    margin-left: 10%;
}

.col p{
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

.p1{
    font-size: 2em;
}

.perfil{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

/*tecnologias*/
.lenguaje2 , .lenguaje{
    width: 100%;
}
.contenido{
    width: 50%;
    border-bottom: 1px solid #ababab;
}
.lenguaje2 div p{
    text-align: right;  
}

/*footer*/
footer{
    width: 100%;
    background: rgba(5, 5, 5);
}

footer .container{
    width: 100%;
    margin: 0%;
}

footer a{
    text-decoration: none;
    color: rgb(253, 253, 253);
}

footer a:hover{
    color: rgb(211, 211, 211);
}

.bloc{
    widows: 25%;
}

.titu2{
    font-size: 24px;
}

ul li{
    width: auto;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    color: #F5F5F5;
    font-size: 10pt;
}

.social{
    width: 70px;
    height: 70px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

@media (max-width: 768px){
    body{
        background-image: url(../Media/bg.png);
        background-size: 200%;
        background-attachment: fixed;
    }

    .yo{
        width: auto;
        margin-top: 10%;
        margin-left: 10%;
    }

    .yo .col p{
        width: 100%;
        text-align: center;
    }

    .perfil{
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 0px solid #000000;
    }
}

@media (max-width: 425px){
    body{
        background-image: url(../Media/bg.png);
        background-size: 300%;
        background-attachment: fixed;
    }

    .yo{
        width: 80%;
        margin-top: 10px;
    }

    
    .p1{
        font-size: 2em;
    }

    .col p{
        width: 250px;
        font-size: 10pt;
        color: #fff;
        font-family: 'Source Code Pro', monospace;
    }

    .foto{
        widows: 100%;
    }

    .perfil{
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 0px solid #000000;
    }
    .quienSoy{
        width: 90%;
    }
    .descripcion p{
        font-size: 10pt;
    }

    /*tecnologias*/
    .contenido{
        width: 100%;
    }
}